{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:css-import-order/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": [
    "vite.config.ts"
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/extensions":  [".js", ".jsx", ".ts", ".tsx", ".scss"],
    "import/resolver": {
      "typescript": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".scss"]
      },
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".scss"]
      }
    }
  },
  "rules": {
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": {
          "consistent": true
        },
        "ObjectPattern": {
          "multiline": true
        },
        "ImportDeclaration": {
          "consistent": true
        },
        "ExportDeclaration": {
          "multiline": true,
          "minProperties": 3
        }
      }
    ],
    "react/jsx-first-prop-new-line": [
      2,
      "multiline"
    ],
    "react/jsx-max-props-per-line": [
      2,
      {
        "maximum": 1,
        "when": "multiline"
      }
    ],
    "no-param-reassign": "off",
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "off",
    "import/no-named-as-default": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [1],
    "react/react-in-jsx-scope": "off",
    "react/function-component-definition": [
      "error", {
        "namedComponents": "arrow-function"
      }
    ],
    "sort-imports": [
      "error", {
        "ignoreCase": true,
        "ignoreDeclarationSort": true
      }
    ],
    "import/order": [
      2,
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          ["parent", "sibling"],
          "type"
        ],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "react*",
            "group": "external",
            "position": "before"
          }
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "no-console": ["error", {"allow": ["warn", "error"]}]
  }
}
