.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px;

  opacity: 0;
  transition: opacity 0.3s ease-out;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__content {
    position: relative;

    min-width: 320px;
    min-height: 220px;
  }

  &--entered {
    opacity: 1;
  }

  &--exiting {
    opacity: 0;
  }
}
