$class: 'layout-main';

.#{$class} {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;

  &__main {
    flex: 1;
    overflow-x: auto;
  }
}
