.section {
  border: 2px solid red;
  text-align: center;
  background: cornflowerblue;

  padding: 10px;

  span,
  h2 {
    border: 1px solid red;
    background: skyblue;
  }

  ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    border: 2px solid green;

    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  li {
    border: 1px solid tomato;
    flex: 30%;
    background: skyblue;
  }

  img {
    width: 100px;
  }

}
